<!DOCTYPE HTML>
<html>
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div>Hello, {{name}}</div>

<br>
<a href="./messages">Messages page</a>
<br>
<a href="./users">Users</a>


</body>
</html>