<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container"></div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> </body>

<form action="./logout" method="post">
    <input type="submit" value="Sign Out"/>
    <!--    <input type="hidden" name="{/{_csrf}}" value="{/{_csrf.token}}">-->
</form>
<br><br>

<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Add new message
</a>

<div class="collapse" id="collapseExample">
<!--<div class="collapse <#if message??>show</#if>" id="collapseExample">-->
<form th:action="@{/messages}" method="post" enctype="multipart/form-data">
    <div><label> Input message: <input type="text" name="msg" /> </label></div>
<!--    <div><label> Input message: <input type="text" name="msg"-->
<!--                                       th:class="form-control ${(textError??)?string('is-invalid', '')}"/> </label></div>-->

<!--    value="<#if message??>${message.text}</#if>"-->

<!--    <#if textError??>-->
    <div class="invalid-feedback"  th:text="${textError}">

    </div>
<!--    </#if>-->

    <div><label> Input tag: <input type="text" name="tag"/> </label></div>
    <input type="file" name="file">
    <!--    <input type="hidden" name="_csrf" value="@{_csrf.token}" />-->
    <div><input type="submit" value="Add"/></div>
</form>
</div>

<br><br>

List messages
<div th:each="mes : ${messages}">
    <p><span th:text="|${mes.id}|"></span>
        &nbsp; <span th:text="|${mes.text}|"></span>
        &nbsp; <span th:text="|${mes.tag}|"></span>
        &nbsp; <span th:text="|${mes.authorName}|"></span>
    <div th:if="${mes.filename != null}">
        <img th:src="@{/img/}+${mes.filename}">
    </div>
    </p>
</div>

</body>
</html>