<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:insert="~{parts/bootstrap :: bootstrap_head}"></div>
</head>
<body>
<div class="container">
<br><br>

    <div th:insert="~{parts/addNewMessage :: addNewMessage}"></div>
<br><br>
<div th:insert="~{parts/listAllMessages :: listAllMessages}"></div>


</div>
<div th:insert="~{parts/bootstrap :: bootstrap_body}"></div>
</body>
</html>