<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="listAllMessages" class="navbar">

    List messages
    <div class="messages-list">
        <div th:each="mes : ${messages}" id="one_message">
            <p><span th:text="|${mes.id}|"></span></p>
            &#160; <span th:text="|${mes.text}|"></span>
            <span th:text="@{&#160;#}+${mes.tag}|"></span>
            <a th:text="|${mes.authorName}|" th:href="@{/user-messages/messages/}+${mes.author.id}"></a>

            <div th:if="${mes.author.id == idCurUser}">
                <a th:text="edit" th:href="@{/user-messages/messages/}+${mes.author.id}+@{/editMessage}+${mes.id}"
                   class="btn btn-primary"></a></div>
            <div th:if="${mes.filename}">
                <img th:src="@{/img/}+${mes.filename}"/>
                <br/>
            </div>
            <div class="likes"><a th:href="@{/messages/}+${mes.id}+@{/like}">
                <img th:if="${mes.meLiked}" th:src="@{images/like.PNG}" width="20" height="20"/>
                <img th:unless="${mes.meLiked}" th:src="@{images/notLiked.PNG}" width="20" height="20"/></a>
                <p th:class="likes_count" th:text="${mes.likes}"></p>
            </div>
        </div>
    </div>

    <div th:insert="~{parts/pagination :: pagination}"></div>
</div>
</body>
</html>