<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8"/>
    <title>NavigationBar</title>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/NavBar.css" th:href="@{/css/NavBar.css}"/>
</head>
<body>
<div>
    <div th:fragment="navbar" class="navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">YOUstart</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/messages">Messages</a>
                    </li>

                    <div th:less="${#strings.equals(#authentication.getPrincipal(), 'anonymousUser')}">
                        <div th:if="${#authentication.getPrincipal().isAdmin()}">
                            <li class="nav-item active">
                                <a class="nav-link" href="/users">Users</a>
                            </li>
                        </div>
                    </div>


                </ul>
                <div th:if="${#strings.equals(#authentication.getPrincipal(), 'anonymousUser')}">Not_logined_user!</div>
                <div th:unless="${#strings.equals(#authentication.getPrincipal(), 'anonymousUser')}">
                    <div class="navbar-text" th:text="@{Logined as:&nbsp;}+${#authentication.getPrincipal().getUsername()}"></div></div>

            </div>
        </nav>
    </div>
</div>
</body>
</html>